.os__title::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.25);
    position: absolute;
    left: 0px;
    bottom: 10px;
    width: 65%;
    height: 20%;
    transition: all .3s ease-in-out;
}

.os__title:hover::before {
    bottom: 10px;
    height: 100%;
    width: 80%;
} 
