.prj__content {
    padding-bottom: 1rem;
}

.prj__title {
    font-size: calc(var(--h1-font-size));
    margin-bottom: var(--mb-0-25);
    cursor: pointer;
    position: relative
}

.prj__button-icon {
    transition-delay: 0.3s;
    transition: 0.4s;
}

.prj__title:hover .prj__button-icon {
    transform: translateX(2rem);
}


.prj__description {
    font-size: var(--h3-font-size);
    padding-left: 0rem;
    font-weight: var(--font-normal);
    margin-bottom: var(--mb-1);
}

.prj__description-link {
    font-size: var(--h3-font-size);
    font-weight: var(--font-normal);
    color: var(--text-color);
    text-decoration: underline;
}

.prj__tags {
    grid-template-columns: repeat(8, 100px);
    display: grid;
    column-gap: 0.75rem;
    row-gap: 0.75rem;
    margin-bottom: 2rem;
}

.prj__tags-content {
    background-color: var(--title-color);
    padding: 0.2rem;
    border-radius: 0.5rem;
    text-align: center;
    color: #fff;
    font-size: var(--smaller-font-size);
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.prj__subtitle {
    font-size: var(--h2-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-25);
    margin-top: var(--mb-1-5);
    margin-bottom: var(--mb-1);
}

.prj__subtitle-2 {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-top: 2rem;
    margin-bottom: 0.75rem;
}

.prj__body {
    margin-bottom: var(--mb-1);
    font-size: var(--font-normal);
}

.prj__body-link {
    font-size: var(--font-normal);
    color: var(--text-color);
    text-decoration: underline; 
}

.prj__video-main {
    display: block;
    margin: 2rem auto;
    width: 720px;
    height: 480px;
}

.prj__text-image {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 1rem;
    align-items: center;
    column-gap: 2rem;
}

.prj__img-large,
.prj__halfimg {
    border: 1px solid var(--title-color); 
}

.prj__video-half {
    margin: auto;
    width: 480px;
    height: 360px;
}

@media screen and (max-width: 992px) {
    .prj__tags {
        grid-template-columns: repeat(6, 100px);
    }

    .prj__video-half {
        width: 360px;
        height: 240px;
    }
}

@media screen and (max-width: 768px) {
    .prj__tags {
        grid-template-columns: repeat(5, 100px);
    }

    .prj__video-main {
        width: 480px;
        height: 360px;
    }

    .prj__text-image {
        grid-template-columns: repeat(1, 1fr);
        margin: 0 3rem;
    }

    .prj__video-half {
        width: 480px;
        height: 360px;
    }

    .prj__subtitle-2 {
        margin-top: 1.5rem;
        margin-bottom: 0.5rem;
    }
}
  
@media screen and (max-width: 576px) {
    .prj__title:hover {
        text-decoration: underline;
    }
    
    .prj__tags {
        grid-template-columns: repeat(3, 100px);
        margin-bottom: 2rem;
    }

    .prj__video-main {
        width: 360px;
        height: 240px;
    }

    .prj__text-image {
        margin: 0 2rem;
    }

    .prj__video-half {
        width: 360px;
        height: 240px;
    }
}

@media screen and (max-width: 350px) {
    .prj__tags {
        grid-template-columns: repeat(2, 100px);
    }

    .prj__video-main {
        width: 240px;
        height: 160px;
    }
    
    .prj__text-image {
        margin: 0 0rem;
    }

    .prj__video-half {
        width: 240px;
        height: 160px;
    }
}