.video__title::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.25);
    position: absolute;
    left: 0px;
    bottom: 10px;
    width: 53%;
    height: 20%;
    transition: all .3s ease-in-out;
}

.video__title:hover::before {
    bottom: 10px;
    height: 100%;
    width: 65%;
} 

@media screen and (max-width: 992px) {
    .video__title::before {
        width: 350px;
        height: 25%;
        bottom: 5px;
    }

    .video__title:hover::before {
        width: 50%;
        height: 100%;
        bottom: 5px;
    }
}


@media screen and (max-width: 768px) {
    .video__title::before {
        width: 350px;
        height: 25%;
        bottom: 5px;
    }

    .video__title:hover::before {
        width: 70%;
        height: 100%;
        bottom: 5px;
    }
}

@media screen and (max-width: 576px) {
    .video__title::before {
        width: 0px;
    }

    .video__title:hover::before {
        width: 0px;
    }
}