.robotirl__container {
    row-gap: 7rem;
}

.robotirl__content {
    padding-top: 3.5rem;
}

.robotirl__title {
    font-size: calc(var(--big-font-size) * 0.8);
    margin-bottom: var(--mb-0-25);
    position: relative;
    cursor: pointer;

}

.robotirl__description {
    position: relative;
    font-size: var(--h3-font-size);
    padding-left: 0rem;
    font-weight: var(--font-normal);
    margin-bottom: var(--mb-1);
}

.robotirl__subtitle {
    font-size: var(--h2-font-size);
    padding-left: 0rem;
    padding-top: 3.5rem;
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1);
}

.robotirl__body {
    margin-bottom: var(--mb-1);
    font-size: var(--font-normal);
}

.robotirl__tags {
    grid-template-columns: repeat(10, 100px);
    display: grid;
    column-gap: 1rem;
}

.robotirl__tags-content {
    background-color: var(--title-color);
    padding: 0.25rem;
    border-radius: 0.5rem;
    text-align: center;
    color: #fff;
    font-size: var(--small-font-size);
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.robotirl__img-large {
    display: block;
    margin-top: 3rem;
    width: 600px;  
    margin-left: 12rem;
}

.robotirl__text-image {
    margin-top: 3rem; 
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 3rem;
    overflow: hidden;

    margin-right: 10rem;

}

.roboitirl__halfimg {
    width: 400px;
    justify-self: center;
    border-radius: 10px;
}

.robotirl__title::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.25);
    position: absolute;
    left: 0px;
    bottom: 10px;
    width: 20%;
    height: 20%;
    transition: all .3s ease-in-out;
}

.robotirl__title:hover::before {
    bottom: 10px;
    height: 100%;
    width: 30%;
} 
